{% extends 'plants/base.html' %}

{% block page_header %}
<h1>List of your plants:</h1>
{% endblock page_header %}

{% block content %}

<a href="{% url 'plants:new_plant' %}"><button type="button" class="btn btn-primary btn-sm">Add new plant</button></a><br>
<br>
  {% for plant in plants %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ plant.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          {% if plant.watering_date %}
            Date of last watering: {{ plant.watering_date | date:"j M Y" }}
          {% else %}
            Date of last watering: -
          {% endif %}
        </h6>
        <p class="card-text">{{ plant.text |truncatechars:20 }}</p>
        <a href="{% url 'plants:watering' plant.id %}" class="card-link">Watering now</a>
        <a href="{% url 'plants:plant' plant.id %}" class="card-link">More details</a>
      </div>
    </div>
  {% empty %}
    <li>You don't have any plant in your home garden.</li>
  {% endfor %}
</ul>
<br>
<br>

{% endblock content %}